[submodule "cpp/basis/digitama"]
	path = cpp/digitama/big_bang
	url = https://github.com/Gyoudmon/big-bang.cpp.git
[submodule "python/basis/digitama"]
	path = python/digitama/big_bang
	url = https://github.com/Gyoudmon/big-bang.py.git
[submodule "cpp/basis/village/vcso"]
	path = cpp/village/vcso
	url = https://github.com/Gyoudmon/vcso.git
[submodule "racket/basis/digitama"]
	path = racket/digitama
	url = https://github.com/Gyoudmon/big-bang.rkt
